*.o
*.so
*.a
*.dvi
*.aux
*.log
*.pdf
*.ps
*.svg
*.gcda
*.gcno
*.out
*.gcov
*.trs
*.tar.gz
freesasa
example
test
.DS_Store
*~
a.out
*Makefile.in
*Makefile
*.deps
config.h.in
config.h
config.status
configure.scan
configure
stamp-h1
missing
install-sh
depcomp
compile
test-driver
autom4te.cache
aclocal.m4
tmp*
bindings/python/*.c
doc/doxygen
doc/html/
doc/fig/lnr_*.eps
doc/doxygen
doc/Doxyfile
doc/doxyfile.stamp
doc/manual.xml
doc/LaTeXML.cache
