*.o
*.a
calc_sasa
example
test
.DS_Store
*~
a.out
*.dvi
*.aux
*.log
*.pdf
*.ps
*.pdb
doc/fig/lnr_*.eps
*.gcda
*.gcno
*.out
*.gcov
*.m4
*Makefile.in
*Makefile
*.deps
config.h.in
config.h
config.status
configure.scan
configure
stamp-h1
tmp*
*.tar.gz
missing
install-sh
depcomp
compile
autom4te.cache
