*.o
*.a
freesasa
example
test
.DS_Store
*~
a.out
*.dvi
*.aux
*.log
*.pdf
*.ps
doc/fig/lnr_*.eps
*.gcda
*.gcno
*.out
*.gcov
*.trs
*Makefile.in
*Makefile
*.deps
config.h.in
config.h
config.status
configure.scan
configure
stamp-h1
*.tar.gz
missing
install-sh
depcomp
compile
test-driver
autom4te.cache
aclocal.m4
tmp*