area_classes: 
apolar 
polar 

atom_classes:
C_CAR 1.55 apolar
C_ALI 2.0 apolar 
C_ARO 1.75 apolar
N 1.55 polar
S 2.00 polar 
O 1.40 polar

atoms:
ALA N  N
ALA CA C_ALI
ALA C  C_CAR
ALA O  O
ALA CB C_ALI
ARG N  N
ARG CA C_ALI
ARG C  C_CAR
ARG O  O
ARG CB C_ALI
ARG CG C_ALI
ARG CD C_ALI
ARG NE N
ARG CZ C_ALI
ARG NH1 N
ARG NH2 N
... 
