# DSSP has the same radius for all side chain atoms, the values here
# are what could be extracted from the DSSP source code. The author
# therefore makes some reservations for there being errors here.

name: DSSP

types:
CA 1.87 backbone
C 1.76 backbone
N 1.65 backbone
O 1.40 backbone
SIDE 1.8 sidechain

atoms:
ANY C   C
ANY O   O
ANY CA  CA
ANY N   N
ANY CB  SIDE
ANY OXT O
ANY CG SIDE
ANY CG1 SIDE
ANY CG2 SIDE
ANY CD SIDE
ANY CD1 SIDE
ANY CD2 SIDE
ANY CE SIDE
ANY CE1 SIDE
ANY CE2 SIDE
ANY CZ SIDE
ANY OD1 SIDE
ANY OE1 SIDE

ARG NE SIDE
ARG NH1 SIDE
ARG NH2 SIDE

ASN ND2 SIDE

ASP OD2 SIDE

CYS SG  SIDE

GLN NE2 SIDE

GLU OE2 SIDE

HIS ND1 SIDE
HIS NE2 SIDE

ILE CG1 SIDE
ILE CG2 SIDE

LYS CE  SIDE
LYS NZ  SIDE

MET SD  SIDE
MET CE  SIDE

SER OG  SIDE

SEC SE  SIDE

THR OG1 SIDE
THR CG2 SIDE

TRP NE1 SIDE
TRP CE3 SIDE
TRP CZ2 SIDE
TRP CZ3 SIDE
TRP CH2 SIDE

TYR OH  SIDE