# Contributed by João Rodrigues 

name: NACCESS

types:
C_ALI 1.87 apolar
C_CAR 1.76 apolar
C_NUC 1.80 apolar
N_AMN 1.50 polar
N_AMD 1.65 polar
N_NUC 1.60 polar
O 1.40 polar
S 1.85 apolar
SE 1.80 apolar
P 1.90 apolar

atoms:
ANY C   C_CAR
ANY O   O
ANY CA  C_ALI
ANY N   N_AMD
ANY CB  C_ALI
ANY OXT O
# nucleic acid
ANY P   P
ANY OP1 O
ANY OP2 O
ANY OP3 O
ANY O5' O
ANY O4' O
ANY O3' O
ANY O2' O
ANY C5' C_NUC
ANY C4' C_NUC
ANY C3' C_NUC
ANY C2' C_NUC
ANY C1' C_NUC

ALA CB C_ALI # included so that RSA values will be generated

ARG CG C_ALI
ARG CD C_ALI
ARG NE N_AMD
ARG CZ C_CAR
ARG NH1 N_AMD
ARG NH2 N_AMD

ASN CG  C_CAR
ASN OD1 O
ASN ND2 N_AMD

ASP CG  C_CAR
ASP OD1 O
ASP OD2 O

CYS SG  S

GLN CG  C_ALI
GLN CD  C_CAR
GLN OE1 O
GLN NE2 N_AMD

GLU CG  C_ALI
GLU CD  C_CAR
GLU OE1 O
GLU OE2 O

GLY CA C_ALI # included so that RSA values will be generated

HIS CG  C_CAR
HIS ND1 N_AMD
HIS CD2 C_CAR
HIS NE2 N_AMD
HIS CE1 C_CAR

ILE CG1 C_ALI
ILE CG2 C_ALI
ILE CD1 C_ALI

LEU CG  C_ALI
LEU CD1 C_ALI
LEU CD2 C_ALI

LYS CG  C_ALI
LYS CD  C_ALI
LYS CE  C_ALI
LYS NZ  N_AMN

MET CG  C_ALI
MET SD  S
MET CE  C_ALI

PHE CG  C_CAR
PHE CD1 C_CAR
PHE CD2 C_CAR
PHE CE1 C_CAR
PHE CE2 C_CAR
PHE CZ  C_CAR

PRO CG  C_ALI
PRO CD  C_ALI

SEC SE  SE

SER OG  O

THR OG1 O
THR CG2 C_ALI

TRP CG  C_CAR
TRP CD1 C_CAR
TRP CD2 C_CAR
TRP NE1 N_AMD
TRP CE2 C_CAR
TRP CE3 C_CAR
TRP CZ2 C_CAR
TRP CZ3 C_CAR
TRP CH2 C_CAR

TYR CG  C_CAR
TYR CD1 C_CAR
TYR CD2 C_CAR
TYR CE1 C_CAR
TYR CE2 C_CAR
TYR CZ  C_CAR
TYR OH  O

VAL CG1 C_ALI
VAL CG2 C_ALI

A N9 N_NUC
A C8 C_NUC
A N7 N_NUC
A C5 C_NUC
A C6 C_NUC
A N6 N_NUC
A N1 N_NUC
A C2 C_NUC
A N3 N_NUC
A C4 C_NUC

C N1 N_NUC
C C2 C_NUC
C O2 O
C N3 N_NUC
C C4 C_NUC
C N4 N_NUC
C C5 C_NUC
C C6 C_NUC

G N9 N_NUC
G C8 C_NUC
G N7 N_NUC
G C5 C_NUC
G C6 C_NUC
G O6 O
G N1 N_NUC
G C2 C_NUC
G N2 N_NUC
G N3 N_NUC
G C4 C_NUC

I N9 N_NUC
I C8 C_NUC
I N7 N_NUC
I C5 C_NUC
I C6 C_NUC
I O6 O
I N1 N_NUC
I C2 C_NUC
I N3 N_NUC
I C4 C_NUC

T N1 N_NUC
T C2 C_NUC
T O2 O
T N3 N_NUC
T C4 C_NUC
T O4 O
T C5 C_NUC
T C7 C_NUC
T C6 C_NUC

U N1 N_NUC
U C2 C_NUC
U O2 O
U N3 N_NUC
U C4 C_NUC
U O4 O
U C5 C_NUC
U C6 C_NUC

DA N9 N_NUC
DA C8 C_NUC
DA N7 N_NUC
DA C5 C_NUC
DA C6 C_NUC
DA N6 N_NUC
DA N1 N_NUC
DA C2 C_NUC
DA N3 N_NUC
DA C4 C_NUC

DC N1 N_NUC
DC C2 C_NUC
DC O2 O
DC N3 N_NUC
DC C4 C_NUC
DC N4 N_NUC
DC C5 C_NUC
DC C6 C_NUC

DG N9 N_NUC
DG C8 C_NUC
DG N7 N_NUC
DG C5 C_NUC
DG C6 C_NUC
DG O6 O
DG N1 N_NUC
DG C2 C_NUC
DG N2 N_NUC
DG N3 N_NUC
DG C4 C_NUC

DI N9 N_NUC
DI C8 C_NUC
DI N7 N_NUC
DI C5 C_NUC
DI C6 C_NUC
DI O6 O
DI N1 N_NUC
DI C2 C_NUC
DI N3 N_NUC
DI C4 C_NUC

DT N1 N_NUC
DT C2 C_NUC
DT O2 O
DT N3 N_NUC
DT C4 C_NUC
DT O4 O
DT C5 C_NUC
DT C7 C_NUC
DT C6 C_NUC

DU N1 N_NUC
DU C2 C_NUC
DU O2 O
DU N3 N_NUC
DU C4 C_NUC
DU O4 O
DU C5 C_NUC
DU C6 C_NUC



