# Contributed by João Rodrigues 

=======
types:
C_ALI 1.87 apolar
C_CAR 1.76 apolar
N_AMN 1.50 polar
N_AMD 1.65 polar
O 1.40 polar
S 1.85 polar
SE 1.80 polar

atoms:
ANY C   C_CAR
ANY O   O
ANY CA  C_ALI
ANY N   N_AMD
ANY CB  C_ALI
ANY OXT O

ARG CG C_ALI
ARG CD C_ALI
ARG NE N_AMD
ARG CZ C_CAR
ARG NH1 N_AMD
ARG NH2 N_AMD

ASN CG  C_CAR
ASN OD1 O
ASN ND2 N_AMD

ASP CG  C_CAR
ASP OD1 O
ASP OD2 O

CYS SG  S

GLN CG  C_ALI
GLN CD  C_CAR
GLN OE1 O
GLN NE2 N_AMD

GLU CG  C_ALI
GLU CD  C_CAR
GLU OE1 O
GLU OE2 O

HIS CG  C_CAR
HIS ND1 N_AMD
HIS CD2 C_CAR
HIS NE2 N_AMD
HIS CE1 C_CAR

ILE CG1 C_ALI
ILE CG2 C_ALI
ILE CD1 C_ALI

LEU CG  C_ALI
LEU CD1 C_ALI
LEU CD2 C_ALI

LYS CG  C_ALI
LYS CD  C_ALI
LYS CE  C_ALI
LYS NZ  N_AMN

MET CG  C_ALI
MET SD  S
MET CE  C_ALI

PHE CG  C_CAR
PHE CD1 C_CAR
PHE CD2 C_CAR
PHE CE1 C_CAR
PHE CE2 C_CAR
PHE CZ  C_CAR

PRO CG  C_ALI
PRO CD  C_ALI

SEC SE  SE

SER OG  O

THR OG1 O
THR CG2 C_ALI

TRP CG  C_CAR
TRP CD1 C_CAR
TRP CD2 C_CAR
TRP NE1 N_AMD
TRP CE2 C_CAR
TRP CE3 C_CAR
TRP CZ2 C_CAR
TRP CZ3 C_CAR
TRP CH2 C_CAR

TYR CG  C_CAR
TYR CD1 C_CAR
TYR CD2 C_CAR
TYR CE1 C_CAR
TYR CE2 C_CAR
TYR CZ  C_CAR
TYR OH  O

VAL CG1 C_ALI
VAL CG2 C_ALI
