# The sample configuration below shows the OONS configuration, which
# was the default in older version of FreeSASA. It is also available
# as the global variable freesasa_oons_classifier.

name: OONS

types: # the types of atoms with atom radius and class
C_ALI 2.00 apolar
C_ARO 1.75 apolar
C_CAR 1.55 polar
N 1.55 polar
O 1.40 polar # carbo- and hydroxyl oxygen have the same radius in OONS
S 2.00 polar

# Phosphorus and Selenium
P 1.80 polar
SE 1.90 polar

# Unknown polar, for ASX and GLX
U_POL 1.5 polar

# Water
WATER 1.40 polar

atoms:
ANY C   C_CAR
ANY O   O
ANY CA  C_ALI
ANY N   N
ANY CB  C_ALI
ANY OXT O

## DNA/RNA
# PO4
ANY P P
ANY OP1 O
ANY OP2 O
ANY OP3 O
ANY O5' O
# Sugar
ANY C5' C_ALI
ANY C4' C_ARO
ANY O4' O
ANY C3' C_ARO
ANY O3' O
ANY C2' C_ARO
ANY O2' O
ANY C1' C_ARO
# Sidechains
ANY N1 N
ANY N2 N
ANY N3 N
ANY N4 N
ANY N6 N
ANY N7 N
ANY N9 N
ANY C2 C_ARO
ANY C4 C_ARO
ANY C5 C_ARO
ANY C6 C_ARO
ANY C7 C_ARO
ANY C8 C_ARO
ANY O2 O
ANY O4 O
ANY O6 O
# Methylation
ANY CM2 C_ALI

ARG CG C_ALI
ARG CD C_ALI
ARG NE N
ARG CZ C_ALI
ARG NH1 N
ARG NH2 N

ASN CG  C_CAR
ASN OD1 O
ASN ND2 N

ASP CG  C_CAR
ASP OD1 O
ASP OD2 O

CYS SG  S

GLN CG  C_ALI
GLN CD  C_CAR
GLN OE1 O
GLN NE2 N

GLU CG  C_ALI
GLU CD  C_CAR
GLU OE1 O
GLU OE2 O

HIS CG  C_ARO
HIS ND1 N
HIS CD2 C_ARO
HIS NE2 N
HIS CE1 C_ARO

ILE CG1 C_ALI
ILE CG2 C_ALI
ILE CD1 C_ALI

LEU CG  C_ALI
LEU CD1 C_ALI
LEU CD2 C_ALI

LYS CG  C_ALI
LYS CD  C_ALI
LYS CE  C_ALI
LYS NZ  N

MET CG  C_ALI
MET SD  S
MET CE  C_ALI

PHE CG  C_ARO
PHE CD1 C_ARO
PHE CD2 C_ARO
PHE CE1 C_ARO
PHE CE2 C_ARO
PHE CZ  C_ARO

PRO CB  C_ARO
PRO CG  C_ARO
PRO CD  C_ARO

SER OG  O

THR OG1 O
THR CG2 C_ALI

TRP CG  C_ARO
TRP CD1 C_ARO
TRP CD2 C_ARO
TRP NE1 N
TRP CE2 C_ARO
TRP CE3 C_ARO
TRP CZ2 C_ARO
TRP CZ3 C_ARO
TRP CH2 C_ARO

TYR CG  C_ARO
TYR CD1 C_ARO
TYR CD2 C_ARO
TYR CE1 C_ARO
TYR CE2 C_ARO
TYR CZ  C_ARO
TYR OH  O

VAL CG1 C_ALI
VAL CG2 C_ALI

ASX CG C_CAR
ASX XD1 U_POL
ASX XD2 U_POL
ASX AD1 U_POL
ASX AD2 U_POL

GLX CG C_ALI
GLX CD C_CAR
GLX XE1 U_POL
GLX XE2 U_POL
GLX AE1 U_POL
GLX AE2 U_POL

# Seleno-cystein
SEC SE SE
CSE SE SE # is this really used?

# Seleno-methionine
MSE SE SE
MSE CG C_ALI
MSE CE  C_ALI

# Pyrolysine
PYL CG C_ALI
PYL CD C_ALI
PYL CE C_ALI
PYL NZ N
PYL O2 O
PYL C2 C_CAR
PYL CA2 C_ARO
PYL CB2 C_ALI
PYL CG2 C_ARO
PYL CD2 C_ARO
PYL CE2 C_ARO
PYL N2 N

# capping groups
ACE CH3 C_ALI

NH2 NH2 N

# water
HOH O WATER
